@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Rubik:ital,wght@0,300;1,300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
}


.inicio {
  width: 85%;
}

.inicio img {
  width: 100%;
  height: 70vh;
}

header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contact-icons {
  width: 10%;
}

.contact-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 30px;
}

.contact-icons ul li img{
  width: 28px;
  height: 30px;
}

#img-linkedin {
  height: 25px;
}

.names {
  width: 60%;
}

header h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 18px;
}

header h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  background-color: rgb(0, 0, 0);
  width: 150px;
  color: white;
}

main {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start;
}

.mainSection {
  margin: 15px 0px 10px 70px;
  width: 20%;
}

.mainSection  h5 {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  margin: 15px 0px 15px 0px;
}

.personalProyects {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.colaborationProyects {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.mainSection a {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  margin: 7px 0px 7px 15px;
  color: inherit;
  text-decoration: none;
  
}

.mainSection a:hover {
  background-color: rgba(70, 69, 69, 0.696);
  color: white;
}

.mainChildren {
  width: 70%;
  margin: 30px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



.info-proyect {
  font-family: 'Inter', sans-serif;
  margin-top: 30px;
  height: 30%;
}

.info-proyect h5 {
  margin: 40px 0px 20px 0px;
  font-size: 1.2em;
}

.info-proyect ul li{
  margin: 8px 0px;
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
  font-style: italic;
}

.info-proyect p {
  font-size: 0.9em;
  margin-top: 20px;
  line-height: 3.5vh;
  margin-bottom: 20px;
  width: 85%;
}

.info-proyect a {
  font-size: 15px;
  text-decoration: none;
  margin-top: 25px;
  border: 1px solid;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.758);
  color: white;
}


nav {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 20px 0px;
}

nav a,
.backHome {
  color: black;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: italic;
  margin: 0 5px;
}

.container-backHome {
  margin-bottom: 20px;
}

.backHome {
  margin-left: 30px;
}

.backHome:hover {
  text-decoration: underline;
  color: black;
}

nav a:hover {
  background-color: rgba(70, 69, 69, 0.696);
}


.slider {
  width: 80%;
  height: 400px;
  overflow: hidden;
}

.slider ul {
  display: flex;
  width: 400%;
  animation: cambio 15s infinite alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  
}

@keyframes cambio {
  0% { margin-left: 0;}
  20% { margin-left: 0;}

  25% { margin-left: -100%;}
  45% { margin-left: -100%;}

  50% { margin-left: -200%;}
  70% { margin-left: -200%;}

  75% { margin-left: -300%;}
  100% { margin-left: -300%;}
}
/* ul, li {
    padding: 0;
    margin: 0 auto;
    list-style: none;

}

ul.slider{
  position: relative;
  width: 600px;
  height: 400px;
}

ul.slider li {
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
}

ul.slider li img{
  width: 100%;
  height: 400px;
  object-fit: cover;
 
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1; 
}

.menu {
  text-align: center;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
  margin: 0px 2px;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: rgb(107, 106, 106);
  width: 20px;
  height: 10px;
}

.menu li a:hover {
  background-color: rgb(49, 49, 49);
} */

.container-aboutMe {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../public/img/18033110_10213579583430931_4711515667954345015_n.jpg);
  background-size: cover;
}

.about-me {
  font-family: 'Rubik', sans-serif;
  padding-left: 40px;
  width: 40%;
  font-size: 0.90em;
  line-height: 1.6em;
}





